{% extends "layout.html" %}

{% block body %}
<div class="text-center center-block">
        <h3 class="text-info">Hakkımda</h3>
</div>

    <hr>
    <strong>Merhaba !</strong> Başkent Üniversitesinde Bilgisayar Mühendisliği öğrencisiyim . Şu anda bulunduğunuz site benim Django kullanarak tasarladığım ilk blog sitemdir . Aşağıda bulunan sosyal medya hesaplarımdan bana ulaşabilirsiniz . 
    <hr>

    <div class="text-center center-block">
            <br />
	            <a href="https://twitter.com/pufcat"><i class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="mailto:polat.m.caan@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
                <a href="https://www.linkedin.com/in/can-polat-66786b191/"><i class="fa fa-linkedin-square fa-3x social"></i></a>
</div>

{% endblock body %} 